<a href="https://colab.research.google.com/github/Nilswonderland/Python-Tasks/blob/main/Python_Tasks_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program that sorts numbers from 1 to 10 in descending order.

In [ ]:
numbers = sorted([i for i in range(1,11)], reverse = True)
print(numbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
numbers = list(range(11)) # When there is no limitation for starting point
print(numbers[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
print(numbers[::2])

[1, 3, 5, 7, 9]

In [ ]:
for i in numbers[::-2]:
  print(i, end = " ")

10 8 6 4 2 0

In [ ]:
new_list = (numbers[::-2])
print(new_list)

[10, 8, 6, 4, 2, 0]

In [ ]:
for i in range(101):
  print(i, end = ",")

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [ ]:
multiples_5 = []
for i in range(101) :
  if i % 5 == 0:
    multiples_5.append(i)
      

print(multiples_5, end = " ")
print("\n",sorted(multiples_5, reverse=True), end = " ")

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
 [100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5, 0]

In [ ]:
for i in range(5,0,-1):
  print(i * ":/")

:/:/:/:/:/
:/:/:/:/
:/:/:/
:/:/
:/

In [ ]:
number = int(input(""))
for i in range(1,number+1) :
  print(" " * (number+1 -i), *range(1,i+1))

12
             1
            1 2
           1 2 3
          1 2 3 4
         1 2 3 4 5
        1 2 3 4 5 6
       1 2 3 4 5 6 7
      1 2 3 4 5 6 7 8
     1 2 3 4 5 6 7 8 9
    1 2 3 4 5 6 7 8 9 10
   1 2 3 4 5 6 7 8 9 10 11
  1 2 3 4 5 6 7 8 9 10 11 12

In [ ]:
number = int(input(""))
for i in range(1,number+1) :
  print(" " * (number+1 - i), *range(1,i+1))

12
             1
            1 2
           1 2 3
          1 2 3 4
         1 2 3 4 5
        1 2 3 4 5 6
       1 2 3 4 5 6 7
      1 2 3 4 5 6 7 8
     1 2 3 4 5 6 7 8 9
    1 2 3 4 5 6 7 8 9 10
   1 2 3 4 5 6 7 8 9 10 11
  1 2 3 4 5 6 7 8 9 10 11 12

In [ ]:
number = int(input(""))
for i in range(1,number+1) :
  print(" " * (number), *range(1,i+1))

12
             1
             1 2
             1 2 3
             1 2 3 4
             1 2 3 4 5
             1 2 3 4 5 6
             1 2 3 4 5 6 7
             1 2 3 4 5 6 7 8
             1 2 3 4 5 6 7 8 9
             1 2 3 4 5 6 7 8 9 10
             1 2 3 4 5 6 7 8 9 10 11
             1 2 3 4 5 6 7 8 9 10 11 12

In [ ]:
number = int(input(""))
for i in range(1,number+1) :
  print(" " * (number+1 +i), *range(1,i+1))

12
               1
                1 2
                 1 2 3
                  1 2 3 4
                   1 2 3 4 5
                    1 2 3 4 5 6
                     1 2 3 4 5 6 7
                      1 2 3 4 5 6 7 8
                       1 2 3 4 5 6 7 8 9
                        1 2 3 4 5 6 7 8 9 10
                         1 2 3 4 5 6 7 8 9 10 11
                          1 2 3 4 5 6 7 8 9 10 11 12